// Butler (Serif)
@font-face {
  font-family: "Butler";
  src: url("../fonts/Butler-Black.eot");
  src: url("../fonts/Butler-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Butler-Black.woff2") format("woff2"),
    url("../fonts/Butler-Black.woff") format("woff"),
    url("../fonts/Butler-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Butler";
  src: url("../fonts/Butler-UltraLight.eot");
  src: url("../fonts/Butler-UltraLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Butler-UltraLight.woff2") format("woff2"),
    url("../fonts/Butler-UltraLight.woff") format("woff"),
    url("../fonts/Butler-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Butler";
  src: url("../fonts/Butler.eot");
  src: url("../fonts/Butler.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Butler.woff2") format("woff2"),
    url("../fonts/Butler.woff") format("woff"),
    url("../fonts/Butler.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Butler";
  src: url("../fonts/Butler-Medium.eot");
  src: url("../fonts/Butler-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Butler-Medium.woff2") format("woff2"),
    url("../fonts/Butler-Medium.woff") format("woff"),
    url("../fonts/Butler-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Butler";
  src: url("../fonts/Butler-Light.eot");
  src: url("../fonts/Butler-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Butler-Light.woff2") format("woff2"),
    url("../fonts/Butler-Light.woff") format("woff"),
    url("../fonts/Butler-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Butler";
  src: url("../fonts/Butler-Bold.eot");
  src: url("../fonts/Butler-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Butler-Bold.woff2") format("woff2"),
    url("../fonts/Butler-Bold.woff") format("woff"),
    url("../fonts/Butler-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Butler";
  src: url("../fonts/Butler-ExtraBold.eot");
  src: url("../fonts/Butler-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Butler-ExtraBold.woff2") format("woff2"),
    url("../fonts/Butler-ExtraBold.woff") format("woff"),
    url("../fonts/Butler-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

// Proxima Nova
@font-face {
  font-family: "Proxima Nova";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/proxima-nova/31C688_0_0.eot");
  src: url("../fonts/proxima-nova/31C688_0_0.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/proxima-nova/31C688_0_0.woff2") format("woff2"),
    url("../fonts/proxima-nova/31C688_0_0.woff") format("woff"),
    url("../fonts/proxima-nova/31C688_0_0.ttf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/proxima-nova/31C688_1_0.eot");
  src: url("../fonts/proxima-nova/31C688_1_0.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/proxima-nova/31C688_1_0.woff2") format("woff2"),
    url("../fonts/proxima-nova/31C688_1_0.woff") format("woff"),
    url("../fonts/proxima-nova/31C688_1_0.ttf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/proxima-nova/31C688_2_0.eot");
  src: url("../fonts/proxima-nova/31C688_2_0.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/proxima-nova/31C688_2_0.woff2") format("woff2"),
    url("../fonts/proxima-nova/31C688_2_0.woff") format("woff"),
    url("../fonts/proxima-nova/31C688_2_0.ttf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/proxima-nova/31C688_3_0.eot");
  src: url("../fonts/proxima-nova/31C688_3_0.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/proxima-nova/31C688_3_0.woff2") format("woff2"),
    url("../fonts/proxima-nova/31C688_3_0.woff") format("woff"),
    url("../fonts/proxima-nova/31C688_3_0.ttf") format("truetype");
}
