<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <base href="{{ $.Site.BaseURL }}">
    <title>{{ $.Site.Title }}</title>

    <meta name="description" content="This holiday season, we’re celebrating how the holidays look different in every household. Each Alloy team member has shared their favorite festive dish." />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Happy Holidays from Alloy!">
    <meta itemprop="description" content="This holiday season, we’re celebrating how the holidays look different in every household. Each Alloy team member has shared their favorite festive dish.">
    <meta itemprop="image" content="http://holiday2017.alloymagnetic.com/holiday-og.png">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@alloymagnetic">
    <meta name="twitter:title" content="Happy Holidays from Alloy!">
    <meta name="twitter:description" content="This holiday season, we’re celebrating how the holidays look different in every household. Each Alloy team member has shared their favorite festive dish.">
    <meta name="twitter:creator" content="@alloymagnetic">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="http://holiday2017.alloymagnetic.com/holiday-og.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="Happy Holidays from Alloy!" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="holiday2017.alloymagnetic.com/" />
    <meta property="og:image" content="http://holiday2017.alloymagnetic.com/holiday-og.png" />
    <meta property="og:description" content="Over the past year, our team has grown so much! We’ve added four new team members and landed exciting new clients. This holiday season, we’re celebrating how the holidays look different in every household. Each Alloy team member has shared the favorite festive dish that they’re looking forward to making (or consuming) over the holidays. Enjoy!Over the past year, our team has grown so much! We’ve added four new team members and landed exciting new clients. This holiday season, we’re celebrating how the holidays look different in every household. Each Alloy team member has shared the favorite festive dish that they’re looking forward to making (or consuming) over the holidays. Enjoy!" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e9625a">
    <meta name="theme-color" content="#0a204c">
    <link rel="stylesheet" href="css/main.css"/>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WWZN2Z');</script>
  <!-- End Google Tag Manager -->
    
    {{ if and ($.IsNode) (eq $.Section "") }} <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>{{ end }}
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWZN2Z"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
