<div class="intro">
  <div class="logo">
    <img src="/img/a-logo.svg" alt="">
  </div>
  <h1>Happy Holidays from Alloy Magnetic</h1>
  <div class="divider"></div>
  <div class="intro-text">
    <p>Over the past year, our team has grown so much! We’ve added four new team members and landed exciting new clients.</p>
    <p>This holiday season, we’re celebrating how the holidays look different in every household. Each Alloy team member has shared the favorite festive dish that they’re looking forward to making (or consuming) over the holidays. Enjoy!</p>
  </div>
  <div id="scroll-indicator">Scroll </div>
</div>