<div class="intro">
  <div class="logo">
    <img src="/img/a-logo.svg" alt="">
  </div>
  <h1>Happy Holidays from Alloy Magnetic</h1>
  <div class="divider"></div>
  <div class="intro-text">
    <p>Over the past year, our team has grown so much! We have added four new team members, landed fantastic new clients, and grown our skillset. To celebrate that growth, we are thrilled to share some of our favorite wintertime family recipes.</p>
  </div>
  <div class="scroll-indicator">Scroll</div>
</div>