<div class="section" id="thanks">
    <div class="card">
        <h1>Thank you for enjoying the holidays with us!</h1>
        <h3>Share the deliciousness!</h3>
        <a href="https://www.facebook.com/sharer/sharer.php?u=holiday2017.alloymagnetic.com"><img src="/img/social/facebook_red.svg"></a>
        <a href="https://twitter.com/home?status=Check%20out%20these%20awesome%20holiday%20recipes%20from%20%40alloymagnetic!%20holiday2017.alloymagnetic.com"><img src="/img/social/twitter_orange.svg"></a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=holiday2017.alloymagnetic.com&title=Holiday%20Recipes%20from%20Alloy%20Magnetic&summary=&source="><img src="/img/social/linkedin_yellow.svg"></a>
    </div>
</div>
