.section {
  padding: 100px 0 100px 150px;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 3;
  &:nth-child(3n + 1) {
    .name p {
      background: $sienna;
    }
    .social .icon svg {
        fill: $sienna;
    }
  }
  &:nth-child(3n + 2) {
    .name p {
      background: $apricot;
    }
    .social .icon svg {
        fill: $apricot;
    }
  }
  &:nth-child(3n + 3) {
    .name p {
      background: $anzac;
    }
    .social .icon svg {
        fill: $anzac;
    }
  }
}

.card {
  transition: all .2s ease;
  position: relative;
  background: transparentize($downriver, 0.4);
  padding: 2vw 2.5vw 2.5vw;
  display: grid;
  grid-template-areas:
    "info story"
    "info recipe";
  grid-template-rows: auto 1fr;
  grid-template-columns: 15vw auto;
  opacity: 0.2;
  transition: all .3s ease;
  &.active {
    opacity: 1;
  }
  .info {
    grid-area: info;
    transform: translateX(-7vw);
  }
  .name {
    width: 0;
    margin-top: 50px;
    grid-area: title;
    p {
      font-weight: 900;
      font-family: $serif;
      font-size: calc(2.8vw + 1rem);
      line-height: 1.45;
      display: inline;
      padding: 10px 10px 5px 10px;
    }
  }
  .profile-img {
    margin-top: 25px;
    grid-area: image;
    img {
      height: 20rem;
    }
  }
  .story {
    grid-area: story;
    h1 {
      font-size: 2.7rem;
      font-weight: bold;
      line-height: 40px;
    }
    p {
      font-size: 1.6rem;
      line-height: 1.5;
    }
  }
  .recipe {
    background: $downriver;
    overflow-y: scroll;
    margin-top: 20px;
    margin-right: -103px;
    padding: 30px;
    columns: 2;
    column-gap: 50px;
    column-rule: 1px outset transparentize(white, 0.8);
    max-height: 60vh;
    >div {
      break-inside: avoid;
    }
    h3 {
      font-size: 21px;
      margin-bottom: 10px;
    }
    ul {
      margin-bottom: 20px;
      font-size: 1.55rem;
    }
    ol {
      font-size: 1.55rem;
    }
  }
  .recipe::-webkit-scrollbar { 
    display: none; 
  }
  .social {
      position: absolute;
      right:0;
      top: 20px;
      padding: 10px;
      text-align: center;
      text-transform: uppercase;
      font-size: 12px;
      transform: translateX(100%);
      letter-spacing: 1px;
      background: $downriver;
      a {
          text-decoration: none;
      }
  }
}

#hannah {
  .recipe {
    >div {
      break-inside: auto;
    }
  }
}