<div class="section" id="{{ lower .Params.first }}">
  <div class="card">
    <div class="info">
      <div class="name">
        <p class="first">{{ .Params.first }}</p>
        <br />
        <p class="last">{{ .Params.last }}</p>
      </div>
      <div class="profile-img">
        <img src="img/people/{{ .Params.first }}.png">
      </div>
    </div>
    <div class="story">
      <h1>{{ .Params.recipe }}</h1>
      <p>{{ .Params.description }}</p>
    </div>
    <div class="recipe">
      {{ .Content }}
    </div>
    <div class="card-background"></div>
  </div>
</div>
