@import "vendor/reset";
@import "https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css";

@import "partials/fonts";
@import "partials/variables";
@import "partials/typography";
@import "partials/icons";

@import "components/navigation";
@import "components/recipe";
@import "components/thanks";

.leadinModal {
  display: none !important;
}
body::-webkit-scrollbar { 
  display: none; 
}
html {
  font-size: 10px;
}
body{
  font-family: sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  background: $downriver;
}
.intro {
  text-align: center;
  position: relative;
  z-index: 2;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: transparentize($downriver, .25);
  * {
    z-index: 4;
    position: relative;
  }
  .logo {
    max-width: 10vw;
    margin: 0 auto 40px;
    height: 100px;
    img {
      height: 100%;
      width: auto;
    }
  }
  h1 {
    margin: 0 auto;
    max-width: 55vw;
  }
  .divider {
    background: $sienna;
    height: 5px;
    width: 5vw;
        margin: 1vw auto 2.5vw;
  }
  .intro-text {
    font-size: 2rem;
    max-width: 55vw;
    line-height: 1.5;
  }
  #scroll-indicator {
    cursor: pointer;
    text-transform: uppercase;
    font-family: $sans;
    color: #fff;
    margin-top: 40px;
    font-size: 12px;
    letter-spacing: 2px;
    animation: bounce 2s ease-in-out infinite;
    &:before, &:after {
      content: "";
      width: 10px;
      height: 1px;
      background: #fff;
      display: block;
      position: absolute;
      top: 50%;
      box-sizing: border-box;
    }
    &:before {
      right: -20px;
      transform: rotate(45deg);
    }
    &:after {
      right: -27px;
      transform: rotate(-45deg);
    }
  }
}
.background-wrapper {
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  background-image: url('/img/background-comp.svg');
  background-repeat: no-repeat;
  background-size: cover;
  &:before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: transparentize($downriver, .5);
  }
}

.snow-container {
  position: fixed;
  top:0;
  left:0;
  z-index: 1;
  opacity:.5;
}

.container {
  width: 1400px;
  max-width:90vw;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "nav recipe";
  grid-template-columns: 10vw auto;
}
.navigation {
  grid-area: nav;
}
.recipes-column {
  grid-area: recipe;
}

.oops {
  display: flex;
  position: fixed;
  z-index: 1000;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: url('/img/background-comp.svg');
  background-size: cover;
  &:before {
    content: "";
    position: absolute;
    background: transparentize($downriver, .5);
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
  p {
    font-family: $serif;
    font-size: 24px;
    line-height: 34px;
  }
  h1, p {
    max-width: 90vw;
  }
  &.ie {
    display: block;
  }
}
.intro:not(.oops), .container {
  display: none;
}
@media (min-width: 1024px) {
  .intro:not(.oops) {
    display: flex;
  }
  .container {
    display: grid;
  }
  .oops {
    display: none;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-10px);
  }
	60% {
    transform: translateY(-5px);
  }
}